@{
    ViewData["Title"] = "Storage Index";
}

<h2>Azure Storage Demo</h2>

<ul>
    <li><a asp-controller="Storage" asp-action="Tables">Manage Tables</a></li>
    <li><a asp-controller="Storage" asp-action="Blobs">Manage Blobs</a></li>
    <li><a asp-controller="Storage" asp-action="Queues">Manage Queues</a></li>
    <li><a asp-controller="Storage" asp-action="Files">Manage Files</a></li>
</ul>
